<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="PlayPlay.io privacy policy.">
        <meta name="og:description" content="PlayPlay.io privacy policy.">
        <meta name="keywords" content="slack,ping,pong,ping-pong,chess,pool,billiards,tic-tac-toe,slack,bot,leaderboard">
        <title>PlayPlay.io - Privacy Policy</title>
        <%= partial 'public/partials/_head.html' %>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: black;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="index.html">PlayPlay.io</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="index.html">Play</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <section id="privacy" style="margin-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-left">
                        <h2 class="section-heading">PlayPlay.io Privacy Policy</h2>
                        <h3>tl;dr</h3>
                        PlayPlay.io does not want to know who you are and tries to collect just enough data to enable our services.
                        <h3>1 - Definition and Nature of Personal Data</h3>
                        During your use of the services that can be accessed on the Website https://www.playplay.io (hereinafter referred to as the "Website"), including our Slack bots (hereinafter referred to as the "Bots"), we do not require you to provide us with any personal data, however we may collect data that indirectly allows us to indentify you. Therefore, the term "personal data" means any data that enables a person to be identified, which corresponds in particular to your family name, first name, photograph, postal address, email address, telephone numbers, date of birth, data relating to your transactions on the Website, detail of your orders and subscriptions, bank card number, messages, as well as any other information about you that you choose to provide us with.
                        <h3>2 - Types of Data We Collect</h3>
                        We do not collect personal information from users, but we do collect data that may indirectly identify you.
                        <h4>2.1 - Information Collected About Your Team from Slack</h4>
                        We collect the team's Slack ID, Team Name and Domain upon registration. Please see the <a href='https://github.com/dblock/slack-gamebot/blob/master/slack-gamebot/models/team.rb'>the team data model</a> for details.
                        <h4>2.2 - Information Collected About You from Slack</h4>
                        We collect your Slack ID and User Name upon registration. Please see the <a href="https://github.com/dblock/slack-gamebot/blob/master/slack-gamebot/models/user.rb">user data model</a> for details.
                        <h4>2.3 - Information You Provide to Us</h4>
                        We may collect personal information from you, such as your first and last name, e-mail or Twitter handle if you provide us feedback or contact us. We will collect your name and e-mail address, as well as any other content included in the e-mail, in order to send you a reply.
                        <h4>2.4 - Information Collected from Slack Messages</h4>
                        We require you to communicate with Bots through Instant Messaging (Slack). This requires special care on our side, and a more restrictive privacy measures: We do not collect or keep information from incoming conversations, and we do not process messages transmitted, except for messages related to the explicit usage of the service. We do not monitor team channels.
                        <h4>2.5 - Information Collected via Technology</h4>
                        Logs. As is true of most websites, we gather certain information automatically and store it in logs. This information includes IP addresses, browser type, Internet service provider ("ISP"), referring/exit pages, operating system, date/time stamp, and clickstream data. We use this information to analyze trends, administer the Site, track users’ movements around the Site, gather demographic information about our user base as a whole, and better tailor our Services to our users’ needs. For example, some of the information may be collected so that when you visit the Site or the Services again, it will recognize you and the information could then be used to serve advertisements and other information appropriate to your interests. Except as noted in this Privacy Policy, we do not link this automatically-collected data to personal information. Cookies. Like many online services, we use cookies to collect information. "Cookies" are small pieces of information that a website sends to your computer’s hard drive while you are viewing the website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Service. This type of information is collected to make the Service more useful to you and to tailor the experience with us to meet your special interests and needs. Traffic analytics.
                        We use a number of third party service provides, such as Google Analytics, to help analyze how users use the Service ("Analytics Companies"). These Analytics Companies uses Cookies to collect information such as how often users visit the Service, what features they use on our Services, and what other sites they used prior to coming to the Site. We use the information we get from these Analytics Companies only to improve our Site and Services. These Analytics Companies collect only the IP address assigned to you on the date you visit the Service, rather than your name or other personally identifying information. We do not combine the information generated through the use of our Analytics Companies with your personal information. [NOTE: Please confirm] Although these Analytics Companies may plant a persistent Cookie on your web browser or mobile device to identify you as a unique user the next time you visit the Service, the Cookie cannot be used by anyone but the Analytics Company that placed the applicable Cookie. This Policy does not apply to and we are not responsible for the Cookies used by these Analytics Companies.
                        <h3>3 - Information Available Publicly</h3>
                        You can opt-in to make some of your team's information available via the public API on <a href="https://www.playplay.io/api">www.playplay.io/api</a>. A team captain has to instruct the bot with <em>set api on</em>. This lets anyone see some team and user information, including team and user Slack IDs and names along with all game history.
                        <h3>4 - Transfer or Sale of Personal Data</h3>
                        We shall not sell, transfer or lease out your personal data to third parties.
                        <h3>5 - Safety</h3>
                        We reserve the right, at our sole discretion, to modify this Privacy policy or any portion thereof. Any changes will be effective from the time of publication of the new Privacy policy. Your use of the Website after the changes have been implemented implicitly expresses your acknowledgement and acceptance of the new Privacy policy. Otherwise, and if the new Privacy policy does not suit you, you must no longer use the Services.
                        <h3>6 - Modifications</h3>
                        We reserve the right, at our sole discretion, to modify this Privacy policy or any portion thereof. Any changes will be effective from the time of publication of the new Privacy policy. Your use of the Website after the changes have been implemented implicitly expresses your acknowledgement and acceptance of the new Privacy policy. Otherwise, and if the new Privacy policy does not suit you, you must no longer use the Services.
                        If you have any questions or concerns or complaints about our Privacy Policy or our data collection or processing practices, or if you want to report any security violations to us, please <a href="https://twitter.com/playplayio">direct-message us @playplayio on Twitter</a> or e-mail <b>dblock+playplayio[at]dblock[dot]org</b>.
                    </div>
                </div>
            </div>
        </section>
        <%= partial 'public/partials/_scripts.html' %>
    </body>
</html>
