---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.conversations
    body:
      encoding: UTF-8
      string: user=bot_user_id&exclude_archived=true&token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Slack-Req-Id:
      - 0ffaf4ef-44fc-4322-a617-94e0c9469ce4
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-f3wc
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C0HNTD0CW","name":"chess","is_channel":true,"created":1452005790,"is_archived":false,"is_general":false,"unlinked":0,"creator":"U04KB5WQR","name_normalized":"chess","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"C11K6LHA7","name":"children","is_channel":true,"created":1461010282,"is_archived":false,"is_general":false,"unlinked":0,"creator":"U04KB5WQR","name_normalized":"children","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"C06JKEMJ8","name":"demo","is_channel":true,"created":1434735992,"is_archived":false,"is[...]
