<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/url.min.js"></script>
<script src="js/playplay.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>
<!-- Google Analytics -->
<script src="js/ga.js"></script>
<script src="js/twitter.js"></script>
<!-- PlayPlay.io -->
<script src="js/playplay.js"></script>
